# .coveragerc
[run]
source = OptikTools
branch = True
relative_files = True
parallel = True
omit =
    **/__init__.py
    OptikTools/_version.py
    OptikTools/directories.py
    OptikTools/**/__main__.py

[report]
skip_covered = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
